@model Ingredient
@{
    ViewBag.Title = "Create Ingredient";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <lable asp-for="Name"></lable>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btnalert-primary">Create</button>
            <a asp-action="Index">Back to List</a>
            </form>

    </div>
   
</div>